* {
    font-family: monospace;
    font-size: 12px;
    color: #cdd6f4;
}

window {
    background-color: #1e1e2e;
    border-bottom: 1px solid #45475a;
}

#workspaces button {
    padding: 0 8px;
    margin: 0 4px;
    color: #6c7086;
}

#workspaces button.active {
    color: #a6e3a1;
    border-bottom: 2px solid #a6e3a1;
}
