@define-color blue-accent #8caaee;
@define-color darker-blue #2B4B6B;
@define-color bg-color rgba(17, 24, 39, 0.5);
@define-color text #E5E9F0;

* {
    border: none;
    border-radius: 0;
    margin-top: 2;
    margin-bottom: 2;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: normal;
    min-height: 0;
    color: @text;
}

window#waybar {
    background: transparent;
}

#custom-arch,
#clock,
#workspaces,
#window,
#network,
#bluetooth,
#backlight,
#wireplumber,
#pulseaudio,
#cpu,
#memory,
#custom-power,
#battery {
    background: @bg-color;
    padding: 0 12px;
    margin: 1px 1px;
    border: 1px solid @blue-accent;
}

/* Module groups */
.modules-left,
.modules-center,
.modules-right {
    margin: 2px 6px;
}

/* Workspace styling */
#workspaces button {
    padding: 0 6px;
    color: @text;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: @blue-accent;
    border-bottom: 2px solid @blue-accent;
    background: @darker-blue;
}

#workspaces button:hover {
    box-shadow: inherit;
    color: @blue-accent;
    background: @darker-blue;
}

/* Custom module styling */
#custom-arch,
#custom-power {
    font-size: 18px;
}

/* System metrics */
#cpu,
#memory,
#battery {
    border-right: none;
}

#backlight,
#wireplumber {
    background: @bg-color;
    /* border-radius: 10px; */
    /* margin-right: 8px; */
    padding: 0 12px;
}

#battery.warning {
    color: #ffb347;
}

#battery.critical {
    color: #ff6961;
}

#bluetooth {
    color: #a6d189;
}

#bluetooth.disabled {
    color: #6c7086;
}

/* Group rounded corners */
.modules-left > widget:first-child > * {
    border-radius: 10px 0 0 10px;
}

.modules-left > widget:last-child > * {
    border-radius: 0 10px 10px 0;
}

.modules-right > widget:first-child > * {
    border-radius: 10px 0 0 10px;
}

.modules-right > widget:last-child > * {
    border-radius: 0 10px 10px 0;
}

.modules-center > widget:first-child > * {
    border-radius: 10px;
}